.social {
    width: 100%;
    max-width: 250px;

    display: flex;
    justify-content: space-between;
}

.social__item {
    width: 25px;
    height: 25px;
}

.social__icon {
    width: 25px;
    height: 25px;

    fill: $white;

    transition: fill .1s linear;
    &:hover {
        fill: $gray_light;
    }
}