<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="row">

                <div class="col-12 col-md-12 col-lg-5">
                    <div class="footer__text">
                        <div class="footer__header">
                            <a class="logo" href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
                            <div class="social">
                                <a class="social__item"  href="https://twitter.com/?lang=en" target="_blank">
                                    <svg class="social__icon">
                                        <use xlink:href="#twitter"></use>
                                    </svg>
                                </a>

                                <a class="social__item" href="https://www.facebook.com/" target="_blank">
                                    <svg class="social__icon">
                                        <use xlink:href="#facebook"></use>
                                    </svg>
                                </a>

                                <a class="social__item"  href="https://www.reg.ru/hosting/" target="_blank">
                                    <svg class="social__icon">
                                        <use xlink:href="#rss"></use>
                                    </svg>
                                </a>
                            </div>
                        </div><!--/footer__header-->

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida quam quis nunc rutrum placerat. Proin eu mi vitae neque veh interdum id nec turpis nam auctor faucibus sollicitudin.
                        </p>

                    </div><!--footer__text-->
                </div><!--/col-5-->

                <div class="col-6 col-lg-2 footer__col">
                    <div class="footer__contact">
                        <h5 class="footer__title">Contact Info</h5>
                        <p>22 Ave C South
                            Saskatoon, Saskatchewan
                            Canada S7K 2N5</p>
                        <a class="footer__contact-link" href="mailto:info@deliver.ca">info@deliver.ca</a>
                        <a class="footer__contact-link" href="tel:13062223456">1.306.222.3456</a>
                    </div>
                </div>

                <div class="col-6 col-lg-2 footer__col">
                    <div class="footer__links">
                        <h5 class="footer__title">Quick Links</h5>
                        <div class="footer__link">
                            <img src="assets/img/footer/bullet.png" alt="">
                            <a class="footer__link-link" href="#">Portfolio</a>
                        </div>

                        <div class="footer__link">
                            <img src="assets/img/footer/bullet.png" alt="">
                            <a class="footer__link-link" href="#">About</a>
                        </div>

                        <div class="footer__link">
                            <img src="assets/img/footer/bullet.png" alt="">
                            <a class="footer__link-link" href="#">Services</a>
                        </div>

                        <div class="footer__link">
                            <img src="assets/img/footer/bullet.png" alt="">
                            <a class="footer__link-link" href="#">Contact Us</a>
                        </div>
                    </div>
                </div>

                <div class="col-7  col-lg-3 footer__col">
                    <div class="footer__news">
                        <h5 class="footer__title">Newsletter</h5>
                        <p>Lorem ipsum dolor sit amet dolor consectetur adipiscing elit.</p>
                        <div class="footer__form">
                            <form class="footer__form-form" action="" method="POST">
                                <input class="footer__form-input" type="email" name="email" placeholder="Email">
                            </form>
                            <button class="footer__form-btn" type="submit">Ok</button>
                        </div>
                    </div>
                </div>
            </div><!--/row-->
        </div><!--/footer__inner-->
        <div class="footer__bottom">
            <div class="row">

                <div class="col-12 col-md-6">
                    <div class="footer__bottom-text">
                        <p>Copyright 2013 <span>Deliver</span> All Rights Reserved.</p>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <nav class="footer__bottom-nav">
                        <a class="bottom-nav__link" href="#">About</a>
                        /
                        <a class="bottom-nav__link" href="#">Privacy Policy</a>
                        /
                        <a class="bottom-nav__link" href="#">Contact</a>
                    </nav>
                </div>
            </div>
        </div>
    </div><!--/container-->
</footer>
<!--/Footer-->