<!--Header=================================================================-->
<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="pre__header pre__header--pages">
                <div class="row">

                    <!--Logo-->
                    <div class="col-2">
                        <a class="logo" href="index.html"><img src="assets/img/logo/logo-pages.png" alt="Delivery" title="Delivery"></a>
                    </div>

                    <!--Header Social-->
                    <div class="col-10">
                        <div class="social">
                            <a class="social__item"  href="https://twitter.com/?lang=en" target="_blank">
                                <div class="social__item-bg"></div>
                                <svg class="social__icon social__icon--pages">
                                    <use xlink:href="#twitter"></use>
                                </svg>
                            </a>

                            <a class="social__item" href="https://www.facebook.com/" target="_blank">
                                <div class="social__item-bg"></div>
                                <svg class="social__icon social__icon--pages">
                                    <use xlink:href="#facebook"></use>
                                </svg>
                            </a>

                            <a class="social__item"  href="https://www.reg.ru/hosting/" target="_blank">
                                <div class="social__item-bg"></div>
                                <svg class="social__icon social__icon--pages">
                                    <use xlink:href="#rss"></use>
                                </svg>
                            </a>
                        </div>
                    </div>

                </div><!--/row-->
            </div><!--/pre__header-->

            <div class="header__nav">
                <div class="row">

                    <!--Nav-->
                    <div class="col-10">
                        <nav class="nav">
                            <a class="nav__link nav__link--pages" href="index.html">Home</a>
                            <a class="nav__link nav__link--pages" href="portfolio.html">Portfolio</a>
                            <a class="nav__link nav__link--pages" href="about.html">About</a>
                            <a class="nav__link nav__link--pages" href="services.html">Services</a>
                            <a class="nav__link nav__link--pages" href="contact.html">Contact Us</a>
                        </nav>
                    </div>

                    <!--Burger--->
                    <div class="burger__box">
                        <div class="burger"></div>
                    </div>

                    <!--Search-->
                    <div class="col-2">
                        <div class="search">
                            <a href="#">
                                <svg class="search__icon search__icon--pages">
                                    <use xlink:href="#search"></use>
                                </svg>
                            </a>
                        </div>
                    </div>

                </div><!--/row-->
            </div><!--/header__nav-->

        </div><!--/header__inner-->
    </div><!--/container-->
</header>
<!--/Header================================================================-->