<!--Header=================================================================-->
<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="pre__header">
                <div class="row">

                    <!--Logo-->
                    <div class="col-2">
                        <a class="logo" href="index.html"><img src="assets/img/logo/logo.png" alt="Delivery" title="Delivery"></a>
                    </div>

                    <!--Header Social-->
                    <div class="col-10">
                        <div class="social">
                            <a class="social__item"  href="https://twitter.com/?lang=en" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href="#twitter"></use>
                                </svg>
                            </a>

                            <a class="social__item" href="https://www.facebook.com/" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href="#facebook"></use>
                                </svg>
                            </a>

                            <a class="social__item"  href="https://www.reg.ru/hosting/" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href="#rss"></use>
                                </svg>
                            </a>
                        </div>
                    </div>

                </div><!--/row-->
            </div><!--/pre__header-->

            <div class="header__nav">
                <div class="row">

                    <!--Nav-->
                    <div class="col-10">
                        <nav class="nav">
                            <a class="nav__link" href="index.html">Home</a>
                            <a class="nav__link" href="portfolio.html">Portfolio</a>
                            <a class="nav__link" href="about.html">About</a>
                            <a class="nav__link" href="services.html">Services</a>
                            <a class="nav__link" href="contact.html">Contact Us</a>
                        </nav>

                        <!--Burger--->
                        <div class="burger__box col-1" id="burger">
                            <div class="burger"></div>
                        </div>

                        <!--NavToggle-->
                        <div class="nav__toggle" id="navToggle">
                            <a class="nav__toggle-link" href="portfolio.html">Portfolio</a>
                            <a class="nav__toggle-link" href="about.html">About</a>
                            <a class="nav__toggle-link" href="services.html">Services</a>
                            <a class="nav__toggle-link" href="contact.html">Contact</a>
                        </div>

                        <!--Search-->
                        <div class="search__toggle" id="searchToggle">
                            <form action="" method="post">
                                <input type="text">
                            </form>
                        </div>
                    </div>


                    <!--Search-->
                    <div class="col-2">
                        <div class="search" id="search">
                            <svg class="search__icon">
                                <use xlink:href="#search"></use>
                            </svg>
                        </div>
                    </div>

                </div><!--/row-->
            </div><!--/header__nav-->

        </div><!--/header__inner-->
    </div><!--/container-->
</header>
<!--/Header================================================================-->