<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="row gy-5">
                <div class="col-12 col-xxl-6">
                    <div class="footer__contacts">
                        <div class="contacts__contacts">
                            <p>
                                <a class="contacts__item" href="tel:+78007078897">+7 (800) 707 88 97</a>
                            </p>
                            <p>
                                <a class="contacts__item" href="mailto:info@norwegianfishoil.com">info@norwegianfishoil.com</a>
                            </p>
                            <p>
                                <a class="contacts__item" href="tel:+79998160455">WhataApp +7 999 816-04-55</a>
                            </p>
                        </div><!--/contacts-->

                        <div class="social">
                            <a class="social__item" href="https://www.facebook.com/" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href="#facebook"></use>
                                </svg>
                            </a>

                            <a class="social__item" href="https://www.instagram.com/" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href="#instagram"></use>
                                </svg>
                            </a>

                            <a class="social__item" href="https://www.youtube.com/" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href="#youtube"></use>
                                </svg>
                            </a>

                            <a class="social__item" href="https://telegram.org/" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href="#telegram"></use>
                                </svg>
                            </a>
                        </div><!--/social-->
                    </div>
                </div>

                <div class="col-12 col-xxl-6">
                    <div class="footer__info">
                        <form class="footer__form" action="" method="POST">
                            <input class="footer__input" type="text" placeholder="поиск">
                            <button class="footer__form-btn" type="submit">
                                <svg class="footer__form-search">
                                    <use xlink:href="#search"></use>
                                </svg>
                            </button>
                        </form>

                        <div class="row">
                            <div class="col-6">
                                <div class="footer__menu">
                                    <h4 class="footer__menu-title">Меню</h4>
                                    <ul>
                                        <li><a href="catalog.html" class="footer__menu-link">Каталог</a></li>
                                        <li><a href="about.html" class="footer__menu-link">О компании</a></li>
                                        <li><a href="" class="footer__menu-link">Польза продуктов NFO</a></li>
                                        <li><a href="reviews.html" class="footer__menu-link">дайджест</a></li>
                                    </ul>
                                </div><!--/footer__menu-->
                            </div>

                            <div class="col-6">
                                <div class="footer__menu">
                                    <h4 class="footer__menu-title">Помощь</h4>
                                    <ul>
                                        <li><a href="" class="footer__menu-link">как купить</a></li>
                                        <li><a href="" class="footer__menu-link">доставка и оплата</a></li>
                                        <li><a href="" class="footer__menu-link">где купить</a></li>
                                        <li><a href="" class="footer__menu-link">программа лояльности</a></li>
                                        <li><a href="" class="footer__menu-link">обратная связь</a></li>
                                    </ul>
                                </div><!--/footer__menu-->
                            </div>
                        </div><!--/row-->
                    </div><!--/footer__info-->
                </div>

            </div><!--/row-->

            <div class="footer__bottom">
                <a class="footer__agree" href="">пользовательское соглашение</a>
                <div class="footer__copyright">
                    <p>© 2014 - 2020 NORWEGIAN Fish Oil – Рыбий жир в капсулах из Норвегии</p>
                    <p>БАД, не является лекарством</p>
                </div>
            </div>

        </div><!--/footer__inner-->
    </div><!--/container-->
</footer>