<!--Header-->
<header class="header" id="header">
    <!--PreHeader-->
    <div class="header__preheader">
        <div class="container">
            <div class="header__preheader-inner">
                <div class="header__preheader-phone">
                    <div class="header__preheader-item">
                        <p>Горячая линия: <a class="phone__number"href="tel:+78007078897">+7 (800) 707 88 97</a></p>
                    </div>
                </div><!--/preheader__phone-->

                <div class="header__preheader-other">
                    <div class="header__preheader-item">
                        <svg class="preheader__icon">
                            <use xlink:href="#delivery"></use>
                        </svg>
                        <p><a class="preheader__text" href="catalog.html">Бесплатная доставка при оплате онлайн</a></p>
                    </div>
                    <a class="header__preheader-btn" href="catalog.html">купить NFO GLOW BOX</a>
                </div>
            </div><!--/header__preheader-inner-->
        </div><!--/container-->
    </div><!--header__preheader-->
    <!--/PreHeader-->

    <!--HeaderMain-->
    <div class="header__main">
        <div class="container">
            <div class="header__main-inner">
                <a href="index.html"><img class="header__logo"  src="assets/img/header/logo.png" alt="Logo"></a>

                <nav class="nav">
                    <a class="nav__link" id="navLink" href="catalog.html">Каталог</a>
                    <a class="nav__link" id="navLink" href="about.html">о компании</a>
                    <a class="nav__link" id="navLink" href="product.html">польза продуктов nfo</a>
                    <a class="nav__link" id="navLink" href="reviews.html">дайджест</a>
                </nav>

                <div class="header__icons">
                    <a class="header__icons-item" href="catalog.html">
                        <svg class="header__icons-icon">
                            <use xlink:href="#favorite"></use>
                        </svg>
                    </a>

                    <a class="header__icons-item" href="">
                        <svg class="header__icons-icon">
                            <use xlink:href="#user"></use>
                        </svg>
                    </a>

                    <a class="header__icons-item" href="">
                        <svg class="header__icons-icon">
                            <use xlink:href="#cart"></use>
                        </svg>
                    </a>
                </div><!--/header__icons-->

                <!--Burger-->
                <div class="burger" id="burger">
                    <img class="burger__icon" src="assets/img/burger/burger.png" alt="">
                </div>
                <!--/Burger-->

                <!--NavToggle-->
                <div class="nav__toggle" id="navToggle">
                    <a class="nav__link nav__link--toggle" href="catalog.html">Каталог</a>
                    <a class="nav__link nav__link--toggle" href="about.html">о компании</a>
                    <a class="nav__link nav__link--toggle" href="product.html">польза продуктов nfo</a>
                    <a class="nav__link nav__link--toggle" href="reviews.html">дайджест</a>
                </div>
                <!--/NavToggle-->
            </div><!--/header__main-inner-->
        </div><!--/container-->
    </div><!--/header__main-->

</header>
<!--/Header-->